USE [ACD]
GO
/****** Object:  Table [dbo].[CarBrandAndModel]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarBrandAndModel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [varchar](100) NOT NULL,
	[model] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarDetail]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DealersID] [int] NULL,
	[Brand] [varchar](100) NULL,
	[Model] [varchar](100) NULL,
	[Varient] [varchar](100) NULL,
	[price] [int] NULL,
	[RegistrationNo] [varchar](20) NULL,
	[RegistrationDate] [date] NULL,
	[KMDriven] [int] NULL,
	[Fuel] [varchar](20) NULL,
	[Transmission] [varchar](50) NULL,
	[NoOfOwner] [int] NULL,
	[IsAccidental] [bit] NULL,
	[adjustableStaring] [bit] NULL,
	[AlloyWheels] [bit] NULL,
	[AntiTheftSystem] [bit] NULL,
	[MusicSystem] [bit] NULL,
	[Aux] [bit] NULL,
	[bluetooth] [bit] NULL,
	[InsuranceType] [varchar](50) NULL,
	[PowerStaring] [bit] NULL,
	[PowerWindow] [bit] NULL,
	[RegistrationState] [varchar](10) NULL,
	[ServiceHistory] [bit] NULL,
	[EnginCapacity] [int] NULL,
	[AirCondition] [varchar](50) NULL,
	[AirBag] [bit] NULL,
	[ABS] [bit] NULL,
	[EBD] [bit] NULL,
	[BSD] [bit] NULL,
	[HillHold] [bit] NULL,
	[carlocation] [geography] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarImage]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarImage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarDetailID] [int] NULL,
	[Image1] [varchar](500) NULL,
	[Image2] [varchar](500) NULL,
	[Image3] [varchar](500) NULL,
	[Image4] [varchar](500) NULL,
	[Image5] [varchar](500) NULL,
	[Image6] [varchar](500) NULL,
	[Image7] [varchar](500) NULL,
	[Image8] [varchar](500) NULL,
	[Image9] [varchar](500) NULL,
	[Image10] [varchar](500) NULL,
	[Image11] [varchar](500) NULL,
	[Image12] [varchar](500) NULL,
	[Image13] [varchar](500) NULL,
	[Image14] [varchar](500) NULL,
	[Image15] [varchar](500) NULL,
	[Image16] [varchar](500) NULL,
	[Image17] [varchar](500) NULL,
	[Image18] [varchar](500) NULL,
	[Image19] [varchar](500) NULL,
	[Image20] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarInqueryList]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarInqueryList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserDetailID] [int] NULL,
	[CarDetailID] [int] NULL,
	[DealerID] [int] NULL,
	[InqueryDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealersDetail]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealersDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[MidleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[CompanyName] [nvarchar](500) NOT NULL,
	[PrimaryMobile] [varchar](20) NOT NULL,
	[SecondaryMobile] [varchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address1] [varchar](100) NULL,
	[Address2] [varchar](100) NULL,
	[City] [varchar](100) NULL,
	[District] [varchar](100) NULL,
	[State] [varchar](100) NULL,
	[Pincode] [varchar](20) NULL,
	[ProfileImage] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Mobile] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWishlist]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWishlist](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserDetailID] [int] NULL,
	[CarDetailID] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarBrandAndModel] ON 

INSERT [dbo].[CarBrandAndModel] ([ID], [Brand], [model]) VALUES (1, N'byd', N'E6')
INSERT [dbo].[CarBrandAndModel] ([ID], [Brand], [model]) VALUES (2, N'byd', N'Atto 3')
INSERT [dbo].[CarBrandAndModel] ([ID], [Brand], [model]) VALUES (3, N'byd', N'Seal')
GO
SET IDENTITY_INSERT [dbo].[CarBrandAndModel] OFF
GO
SET IDENTITY_INSERT [dbo].[CarDetail] ON 

SET IDENTITY_INSERT [dbo].[CarDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[DealersDetail] ON 

INSERT [dbo].[DealersDetail] ([ID], [FirstName], [MidleName], [LastName], [CompanyName], [PrimaryMobile], [SecondaryMobile], [Email], [Address1], [Address2], [City], [District], [State], [Pincode], [ProfileImage]) VALUES (1, N'Vikash', N'', N'Dhankar', N'Dhankar Dealers', N'8826107282', N'', N'', N'', N'', N'', N'', N'', N'', N'Image')
SET IDENTITY_INSERT [dbo].[DealersDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[UserDetail] ON 

INSERT [dbo].[UserDetail] ([ID], [Name], [Mobile]) VALUES (1, N'Vikash Dhankar', N'8826107282')
SET IDENTITY_INSERT [dbo].[UserDetail] OFF
GO
/****** Object:  StoredProcedure [dbo].[GetCars]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCars] 
(
		@ByBrand VARCHAR(100) = NULL,	
		@ByModel VARCHAR(100) = Null,
		@ByFuel VARCHAR(50)=Null,
		@byTransmission VARCHAR(50)=Null,
		@ByOwners INT=0,
		@ByPriceMoreThen INT = 0,
		@ByPriceLessThen INT = 0,
		@ByDrivenMoreThen INT=0,
		@ByDrivenLessThen INT=0,
		@ByAge INT=0
)
AS          
BEGIN      
	SET NOCOUNT ON;  
 
	DECLARE @SQL							NVARCHAR(MAX)
	DECLARE @ParameterDef					NVARCHAR(500)
 
    SET @ParameterDef =     '@ByBrand VARCHAR(100),	
							@ByModel VARCHAR(100),
							@ByFuel VARCHAR(50),
							@byTransmission VARCHAR(50),
							@ByOwners INT,
							@ByPriceMoreThen INT,
							@ByPriceLessThen INT,
							@ByDrivenMoreThen INT,
							@ByDrivenLessThen INT,
							@ByAge INT'
 
SET @SQL = 'Select * from CarDetail WHERE -1=-1 ' 
 
IF @ByBrand IS NOT NULL AND @ByBrand <> ''
SET @SQL = @SQL+ ' AND Brand = @ByBrand'
 
IF @ByModel IS NOT NULL AND @ByModel <> '' 
SET @SQL = @SQL+ ' AND Model like ''%'' + @ByModel + ''%'''
 
 IF @ByFuel IS NOT NULL AND @ByFuel <> ''
SET @SQL = @SQL+ ' AND Fuel = @ByFuel'

 IF @byTransmission IS NOT NULL AND @byTransmission <> ''
SET @SQL = @SQL+ ' AND Transmission = @byTransmission'

IF @ByOwners IS NOT NULL AND @ByOwners <> 0
SET @SQL = @SQL+ ' AND NoOfOwner = @ByOwners'

IF @ByPriceMoreThen IS NOT NULL AND @ByPriceMoreThen <> 0
SET @SQL = @SQL+ ' AND Price > @ByPriceMoreThen'

IF @ByPriceLessThen IS NOT NULL AND @ByPriceLessThen <> 0
SET @SQL = @SQL+ ' AND Price  < @ByPriceLessThen'

IF @ByDrivenMoreThen IS NOT NULL AND @ByDrivenMoreThen <> 0
SET @SQL = @SQL+ ' AND KMDriven > @ByDrivenMoreThen'

IF @ByDrivenLessThen IS NOT NULL AND @ByDrivenLessThen <> 0
SET @SQL = @SQL+ ' AND KMDriven < @ByDrivenLessThen'

IF @ByAge IS NOT NULL AND @ByAge <> 0
SET @SQL = @SQL+ 'AND DATEDIFF(year, RegistrationDate, GETDATE())> @ByAge'

EXEC sp_Executesql     @SQL,  @ParameterDef, @ByBrand=@ByBrand,@ByModel=@ByModel,
@ByFuel=@ByFuel,@byTransmission=@byTransmission,@ByOwners=@ByOwners,
@ByPriceMoreThen=@ByPriceMoreThen, @ByPriceLessThen=@ByPriceLessThen,
@ByDrivenMoreThen=@ByDrivenMoreThen,@ByDrivenLessThen=@ByDrivenLessThen,
@ByAge=@ByAge
     
END

--IF @ProductNumber IS NOT NULL AND @ProductNumber <>''
--SET @SQL = @SQL+ ' AND ProductNumber like ''%'' + @ProductNumber + ''%'''
 
--IF @Color IS NOT NULL AND @Color <>''
--SET @SQL = @SQL+  ' AND Color like ''%'' + @Color + ''%''' 
GO
/****** Object:  StoredProcedure [dbo].[GetCarsTest]    Script Date: 30-01-2026 00:03:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCarsTest] 
(
		@ByBrand VARCHAR(100) = NULL,	
		@ByModel VARCHAR(100) = Null,
		@ByFuel VARCHAR(50)=Null,
		@byTransmission VARCHAR(50)=Null,
		@ByOwners INT=0,
		@ByPriceMoreThen INT = 0,
		@ByPriceLessThen INT = 0,
		@ByDrivenMoreThen INT=0,
		@ByDrivenLessThen INT=0,
		@ByAge INT=0
)
AS          
BEGIN      
	SET NOCOUNT ON;  
 
	DECLARE @SQL							NVARCHAR(MAX)
	DECLARE @ParameterDef					NVARCHAR(500)
 
    SET @ParameterDef =     '@ByBrand VARCHAR(100),	
							@ByModel VARCHAR(100),
							@ByFuel VARCHAR(50),
							@byTransmission VARCHAR(50),
							@ByOwners INT,
							@ByPriceMoreThen INT,
							@ByPriceLessThen INT,
							@ByDrivenMoreThen INT,
							@ByDrivenLessThen INT,
							@ByAge INT'
 
SET @SQL = 'Select * from CarDetail WHERE -1=-1 ' 
 
IF @ByBrand IS NOT NULL AND @ByBrand <> ''
SET @SQL = @SQL+ ' AND Brand = @ByBrand'
 
IF @ByModel IS NOT NULL AND @ByModel <> '' 
SET @SQL = @SQL+ ' AND Model like ''%'' + @ByModel + ''%'''
 
 IF @ByFuel IS NOT NULL AND @ByFuel <> ''
SET @SQL = @SQL+ ' AND Fuel = @ByFuel'

 IF @byTransmission IS NOT NULL AND @byTransmission <> ''
SET @SQL = @SQL+ ' AND Transmission = @byTransmission'

IF @ByOwners IS NOT NULL AND @ByOwners <> 0
SET @SQL = @SQL+ ' AND NoOfOwner = @ByOwners'

IF @ByPriceMoreThen IS NOT NULL AND @ByPriceMoreThen <> 0
SET @SQL = @SQL+ ' AND Price > @ByPriceMoreThen'

IF @ByPriceLessThen IS NOT NULL AND @ByPriceLessThen <> 0
SET @SQL = @SQL+ ' AND Price  < @ByPriceLessThen'

IF @ByDrivenMoreThen IS NOT NULL AND @ByDrivenMoreThen <> 0
SET @SQL = @SQL+ ' AND KMDriven > @ByDrivenMoreThen'

IF @ByDrivenLessThen IS NOT NULL AND @ByDrivenLessThen <> 0
SET @SQL = @SQL+ ' AND KMDriven < @ByDrivenLessThen'

IF @ByAge IS NOT NULL AND @ByAge <> 0
SET @SQL = @SQL+ 'AND DATEDIFF(year, RegistrationDate, GETDATE())> @ByAge'

EXEC sp_Executesql     @SQL,  @ParameterDef, @ByBrand=@ByBrand,@ByModel=@ByModel,
@ByFuel=@ByFuel,@byTransmission=@byTransmission,@ByOwners=@ByOwners,
@ByPriceMoreThen=@ByPriceMoreThen, @ByPriceLessThen=@ByPriceLessThen,
@ByDrivenMoreThen=@ByDrivenMoreThen,@ByDrivenLessThen=@ByDrivenLessThen,
@ByAge=@ByAge
     
END

--IF @ProductNumber IS NOT NULL AND @ProductNumber <>''
--SET @SQL = @SQL+ ' AND ProductNumber like ''%'' + @ProductNumber + ''%'''
 
--IF @Color IS NOT NULL AND @Color <>''
--SET @SQL = @SQL+  ' AND Color like ''%'' + @Color + ''%''' 
GO
